*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  height: 1000px;
  width: 1140px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.container:after,
.container:before {
  content: ' ';
  display: table;
}

.container:after {
  clear: both;
}

.grid-3 {
  float: left;
  margin-left: 28px;
  margin-right: 28px;
}

.grid-3 {
  width: 228px;
}

@media only screen and (min-width: 788px) and (max-width: 979px) {
  .container {
    width: 768px;
  }

  .grid-3 {
    width: 228px;
    margin: 78px;
  }
}

@media only screen and (max-width: 787px) {
  .container {
    width: 228px;
  }
  .grid-3 {
    width: 228px;
    margin: 0 0 20px 0;
    float: none;
  }
}
